body {
  background-color: red;
  
}
p {max-width: 60%;
margin: 0 auto;}
h1 {
  padding: 60px;
  text-align: center;
  background-color: crimson;
  border: 2px solid #333;
}

h2, h3 {
  p { max-width: 60%;
margin: 0 auto; }
  text-align: center;
  padding: 60px;
  text-align: center;
  border: 2px solid #333;
}
