body {
  background-color: red;
  
}
p { max-width: 60%; /* paragraph never gets wider than 60% of the screen */
margin: 0 auto; /* centers it horizontally */ }
h1 {
  padding: 60px;
  text-align: center;
  background-color: crimson;
  border: 2px solid #333;
}

h2, h3 {
  text-align: center;
}
