body {
    background-color: red;
}

p {
    max-width: 60%;
    margin: 10px auto;
    background-color: white;
    padding: 10px;
    border: 2px solid #333;
}

h1, h2, h3, h4 {
    padding: 6px;
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid #333;
    margin: 10px auto;
    max-width: 80%;
}

