.blog-preview {




}


.date {





 }


.post-title { 





}


.post-preview { 





}


.read-more { 





}


.nav {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 20px;
  padding: 15px;
  background-color: #eaeaea; 
}

.nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}




.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    background-color: #d8d1df;
}

.footer-column p {
    margin: 4px 0;
    font-size: 14px;
}

.social-icons img {
    width: 30px;
    margin-right: 8px;
}
.footer-column h3 {
    margin-bottom: 10px;
    font-size: 16px;
}