.blog-preview {




}


.date {





 }


.post-title { 





}


.post-preview { 





}


.read-more { 





}


.nav {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 20px;
  padding: 15px;
  background-color: #eaeaea; 
}

.nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

