.imageandtext-styleing{
  display: flex;
  gap: 20px;
  padding: 20px;
}

.post-image {
  max-width: 40%;
}

.post-content {
  max-width: 60%;
}

.date {
  font-size: 0.9rem;
  color: #555;
}

.post-title {
  margin: 0 0 10px;
}

.post-preview {
  margin-bottom: 10px;
}

.read-more {
  color: #3366cc;
  text-decoration: underline;
}

/* nav */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
  background-color: #eaeaea;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.site-title {
  margin-left: left;
  font-size: 22px;
  color: #333;
}
/* footer */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  background-color: #d8d1df;
}

.footer-column p {
  margin: 4px 0;
  font-size: 14px;
}

.footer-column h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

.social-icons img {
  width: 30px;
  margin-right: 8px;
}
